<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MLK Kitchen</title>
  <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <!-- I want to add the image from ../images/Logo_barn red_transparent.png to replace the CEII plus Image -->

      <a href="./about_us.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <img src="../images/Logo_barn red_transparent_header.png" alt="CEII plus Image">
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="./about_us.html" class="nav-link" aria-current="page">About Us</a></li>
        <li class="nav-item"><a href="./wd_farms.html" class="nav-link">Willowdale Farms</a></li>
        <li class="nav-item"><a href="./kitchen.html" class="nav-link">MLK Kitchen</a></li>
        <li class="nav-item"><a href="./projects.html" class="nav-link">What We're Doing</a></li>
        <li class="nav-item"><a href="./join_us.html" class="nav-link">Join Us</a></li>
      </ul>
    </header>
  </div>
  <!-- Create a container that will hold the MLK_Kitchen.jpg image -->
  
  <div class="image-container" style="text-align: center;">
    <h1>COMING IN 2025</h1>
    <img src="../images/MLK_Kitchen.jpeg" alt="MLK Kitchen Image">
  </div>
  <div class="statement-container">
    <!-- Create 2 columns, one will contain a profile image, the other will be the tile 'A letter from our founder' -->
    <div class="row">
      <h1 class="display-4 p-4" style="text-align: center;">MLK Shared Kitchen</h1>
      <p class="lead pad">We are a network of urban community gardens and the Willowdale Farm that CEII supports.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis nulla
        nibh, ut
        mollis orci placerat in. Nunc accumsan rutrum orci, id mollis elit rutrum eget. Pellentesque
        dignissim purus
        nec lorem volutpat luctus. Fusce eget auctor turpis. Maecenas at augue neque. Aliquam a velit
        tincidunt,
        viverra nibh dignissim, suscipit ipsum. Praesent et dapibus nunc, feugiat posuere neque.
        Pellentesque felis
        mi, hendrerit eget velit eget, fringilla molestie erat.</p>
      <!-- </div> -->
    </div>
  </div>
  <!-- Create a footer with the same links in the header nav -->
  <footer class="footer mt-auto py-3 bg-light">
    <div id="footer-background">
      <div class="container page-footer d-flex justify-content-center">
        <footer style="width: 100%;">
          <div class="row d-flex justify-content-center justify-content-md-center"
            style="text-align: center; padding-top: 30px;">
            <div class="col-md-4 col-lg-3 col-12 d-flex justify-content-center justify-content-md-start">
              <a href="./about_us.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                <img src="../images/Logo_barn red_transparent_header.png" alt="CEII plus Image">
              </a>
            </div>
            <div class="col-md-2 col-lg-3 col-12 d-flex justify-content-md-center">
              <div class="container">
                <div class="row d-flex justify-content-center">
                  <ul class="footer-link-list list-unstyled">
                    <li class="text-center text-md-start footer-link"><a href="/who-we-serve/health-plans">About
                        Us</a><a></a></li><a>
                    </a>
                    <li class="text-center text-md-start footer-link"><a></a><a
                        href="/who-we-serve/providers">Willowdale Farms</a></li>

                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-2 col-lg-3 col-12 d-flex justify-content-md-center">
              <div class="container">
                <div class="row d-flex justify-content-center justify-content-md-start">
                  <ul class="footer-link-list list-unstyled">
                    <li class="text-center text-md-start footer-link"><a href="/who-we-serve/government">MLK Kitchen</a>
                    </li>
                    <li class="text-center text-md-start footer-link"><a href="/company">What We're Doing</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-lg-3 col-12">
              <div class="container">
                <div class="row d-flex justify-content-center justify-content-md-start">
                  <ul class="footer-link-list list-unstyled">

                    <li class="text-center text-md-start footer-link"><a href="/contact-us">Join Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="footer-copyright text-center">Copyright © Community Enrichment Initiatives, Incorporated <span
                  id="year">2024</span>. All Rights Reserved.</div>
            </div>
          </div>
        </footer>
        <script>
          document.getElementById('year').innerHTML = new Date().getFullYear();
        </script>
      </div>
    </div>
  </footer>
</body>

</html>